@font-face {
  font-family: Baby Doll;
  src: url(/assets/fonts/baby_doll.ttf);
}

body {
    margin: 0;
}

header {
    height: 60px;
    background-color: #F2F2E2;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100%;
    z-index: 100;
}

#header-div {
    height: 60px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

#header-div a img {
    height: 120px;
    margin-left: 4vw;
    margin-top: 5px;
}

#header-div a img:hover {
    cursor: pointer;
}

#navbar {
    display: flex;
    gap: 40px;
    margin-right: 4.4vw;
}

#navbar-mobile {
    display: none;
}

#navbar a {
    color: #0E497C;
    font-family: Baby Doll;
    font-size: 1rem;
    transition: 50ms;
    position: relative;
    text-decoration: none;
}

#navbar a:hover {
    font-size: 1.1rem;
    margin-top: -3px;
    cursor: pointer;
    color: #2273bb;
    text-transform: uppercase;
    transition: 100ms;
}

#navbar a.active {
    font-size: 1.1rem;
    margin-top: -2px;
    text-transform: uppercase;
    text-decoration: underline;
}

#navbar a.active:hover {
    color: #0E497C !important;
}

#navbar-mobile img {
    width: 20px;
    margin-right: 4.4vw;
}

#navbar-popup {
    position: absolute;
    z-index: 9;
}

#sidebar {
    position: absolute;
    width: 30vw;
    height: auto;
    background-color: #e9e9d5;
    left: 70vw;
    top: 0;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

#sidebar-navbar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

#sidebar-navbar a {
    color: #0E497C;
    font-family: Baby Doll;
    font-size: 1rem;
    transition: 50ms;
    position: relative;
    text-decoration: none;
}

#sidebar-navbar a.active {
    font-size: 1.1rem;
    margin-top: -2px;
    text-transform: uppercase;
    text-decoration: underline;
}

#main-banner {
    height: auto;
    background-image: url(/assets/images/main\ banner\ background.png);
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

#top-sellers-banner {
    height: 70vh;
    background-image: url(/assets/images/best\ seller\ background.png);
    background-size: cover;
    display: flex;
    overflow: hidden;
    padding-left: 15vw;
    padding-right: 15vw;
    justify-content: space-between;
}

#rewards-banner {
    height: auto;
    background-image: url(/assets/images/rewards\ background.png);
    background-size: cover;
    justify-items: center;
}

#about-us-banner {
    height: 90vh;
    background-image: url(/assets/images/about\ us\ background.png);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

footer {
    height: 100px;
    background-color: rgb(9, 9, 9);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

#footer-div {
    padding-left: 5vw;
    justify-content: space-between;
    display: flex;
    height: auto;
    width: 80%;
    justify-self: center;
}

h1 {
    font-family: Baby Doll;
    font-size: 4vw;
    font-weight: 100;
    margin: 0;
    align-self: center;
    width: auto;
}

h2 {
    font-family: Baby Doll;
    font-size: 2vw;
    font-weight: 100;
    margin: 0;
    align-self: center;
    width: auto;
}

h3 {
    font-family: Baby Doll;
    font-size: 1.5vw;
    font-weight: 100;
    margin: 0;
    align-self: center;
    width: auto;
}

.offwhite-text {
    color: #F2F2E2;
}

.white-text {
    color: #f1f1f1;
}

.brown-text {
    color: #563705;
}

.blue-text {
    color: #0E497C;
}

.title-div {
    justify-items: center;
    flex-direction: column;
    margin-top: 7vh;
}

#coffee-banner {
    width: 30vw;
    margin-top: 5vh;
    align-self: center;
    justify-self: end;
    transition: 1000ms;
    user-select: none;
}

#coffee-banner:hover {
    transform: scale(1.02);
    transition: 1000ms;
}

.side-title-div {
    display: flexbox;
    align-content: center;
    padding-bottom: 5vh;
}

#banner-logo {
    width: 7vw;
    margin-bottom: -2vh;
    align-self: center;
    user-select: none;
}

#best-seller-items-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding-left: 10vw;
}

.best-seller-item { 
    justify-content: center;
    aspect-ratio : 1 / 1;
    height: 80%;
    align-items: center;
    display: none;
}

.best-seller-name { 
    font-family: Baby Doll;
    font-size: 1.3vw;
    letter-spacing: 0.2rem;
    color: #050505;
    text-align: center;
    width: auto;
    position: absolute;
    margin-top: 0vh;
    z-index: 2;
    background-image: url(/assets/images/cardboard.avif);
    filter: brightness(1.2);
    padding: 5px 3vw 1px 3vw;
    border-radius: 2px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
    transition: 500ms;
    text-transform: uppercase;
}

.best-seller-price {
    font-family: Baby Doll;
    font-size: 1.3vw;
    letter-spacing: 0.2rem;
    color: #61410F;
    text-align: center;
    width: auto;
    position: absolute;
    margin-top: 0vh;
    z-index: 1;
    background-color: #F2F2E2;
    padding: 0px 1vw 0px 1vw;
    border-radius: 2px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
    transition: 500ms;
}

.best-seller-name h3 { 
    margin: 0;
}

.best-seller-price h3 { 
    margin: 0;
}

.best-seller-image { 
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 0;
}

.best-seller-image img { 
    height: 15vw;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3)) grayscale(100%);
    transition: 500ms;
    user-select: none;
}

.best-seller-item:hover .best-seller-image img { 
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3)) grayscale(40%);
    transform: scale(1.03);
    padding-bottom: 3vh;
    transition: 500ms;
}

.best-seller-item:hover .best-seller-name{ 
    font-size: 1.6vw;
    margin-top: 25vh;
    padding: 5px 3vw 3px 3vw;
    transition: 500ms;
}

.best-seller-item:hover .best-seller-price{ 
    margin-top: calc(25vh - 5vw);
    transition: 500ms;
    font-size: 1.6vw;
    transition-delay: 50ms;
    opacity: 100;
}

button {
    font-size: 1vw;
    font-family: Baby Doll;
    border-radius: 3px;
    border: none;
    padding: 3px 10px 3px 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 100ms;
    width: auto;
}

button:hover {
    transform: scale(1.03);
    filter: brightness(0.9);
    cursor: pointer;
    transition: 100ms;
}

button:active {
    filter: brightness(0.7);
    transition: 0;
}

#menu-redirect {
    background-color: #F2F2E2;
    color: #563705;
    margin-top: 3vh;
}

.arrows {
    user-select: none;
    font-size: 2vw;
    font-family: Baby Doll;
    color: #F2F2E2;
    transition: 100ms;
    z-index: 3;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.arrows:hover {
    filter: brightness(0.9);
    cursor: pointer;
    transition: 100ms;
}

.arrows:active {
    filter: brightness(0.7);
    transition: 100ms;
}

@keyframes fading {
    0% { opacity: 0;}
    10% { opacity: 1;}
    90% { opacity: 1;}
    100% { opacity: 0;}
}

.slide-active {
    display: flex;
    animation: fading 5s forwards;
}

.corkboard {
    background-image: url(/assets/images/cork\ board.png);
    background-size: cover;
    border-radius: 7px;
    border-color: #563705;
    border-width: 3px;
    border-style: solid;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
}

#home-corkboard {
    margin-top: 7vh;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.5vw;
}

#rewards-banner h1 {
    padding-top: 12vh;
    justify-self: center;
}

#home-corkboard img {
    width: 60vw;
    border-radius: 5px;
    transition: 500ms;
}

#home-corkboard img:hover {
    filter: brightness(1.05);
    transform: scale(1.005);
    transition: 500ms;
    cursor: pointer;
}

#rewards-redirect {
    margin-top: 7vh;
    margin-bottom: 12vh;
    background-color: #0E497C;
    color: #F2F2E2;
}

#about-us-banner img {
    height: 50vw;
    margin-top: calc(30vw - 30vh);
    user-select: none;
}

#about-us-text {
    width: 30%;
    margin-right: 6vw;
}

#about-us-text p {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
    text-wrap: wrap;
    text-align: justify;
}

#about-us-redirect {
    background-color: #f1f1f1;
    color: #050505;
    margin-top: 3vh;
}

#footer-logo {
    height: 150px;
    user-select: none;
}

footer div p {
    color: #f1f1f1;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    text-wrap: wrap;
    line-height: 8px;
}

.footer-header {
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
}

footer div a p {
    text-decoration: underline;
}

footer div a p:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

#menu-div, #order-div, #rewards-div {
    height: auto;
    min-height: calc(82vh - 160px);
    padding-top: calc(60px + 8vh);
    padding-bottom: 10vh;
    background-image: url(/assets/images/rewards\ background.png);
    justify-items: center;
}

#menu-div > :first-child, #order-div > :first-child, #rewards-div > :first-child, #ceo-div > :first-child, #order-complete > :first-child {
    font-size: 3vw;
}

#menu-container {
    display: flex;
    margin-top: 5vh;
    width: 60vw;
    aspect-ratio: 5/3;
    gap: 3%;
}

#order-container {
    display: flex;
    margin-top: 5vh;
    width: 100%;
    justify-content: center;
    gap: 5%
}

#rewards-container {
    display: flex;
    margin-top: 5vh;
    width: 100%;
    justify-content: center;
    gap: 2%;
}

#left-menu {
    height: 100%;
    width: 65%;
    background-image: url(/assets/images/white\ carton.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
}

#right-menu {
    height: 60%;
    width: 35%;
    background-image: url(/assets/images/blue\ carton.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
    margin-top: 2%;
}

#right-menu-div {
    display: flex;
    flex-direction: column;
    padding: 6%;
    padding-top: 8%;
}

#order-button {
    align-self: end;
    background-color: #F2F2E2;
    color: #563705;
}

#order-button:disabled {
    background-color: #cacaca;
    color: #636363;
}

#order-button:disabled:hover {
    transform: scale(1);
    filter: brightness(1);
    cursor: auto;
}

#right-menu-div h2 {
    align-self: baseline;
}

#order-list {
    height: 13vw;
    width: 84%;
    margin-bottom: 1vw;
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
    overflow-y: auto;
}

#order-list::-webkit-scrollbar {
    width: 0.3vw;
}

#order-list::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 1vw;
}

#order-list::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

#order-list p {
    font-family: Baby Doll;
    color: #f1f1f1;
    font-size: 0.8vw;
    margin: 0;
    margin-bottom: 5%;
}

#order-list img {
    width: 0.5vw;
}

#order-list img:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.order-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

#order-name {
    display: flex;
    justify-content: baseline;
    overflow-wrap: break-word;
    width: 80%;
    align-self: flex-start;
    margin-top: 1%;
}

.order-counter {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.order-counter p {
    font-size: 1vw !important;
}

#order-name > :first-child {
    margin-right: 5%;
}

#menu-header {
    display: flex;
    height: 10%;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 4%;
}

#menu-list {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

#top-menu-header {
    width: 100%;
}

#bottom-menu-header {
    width: 70%;
}

.menu-header-text {
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}

.menu-header-text p {
    margin: 0;
    font-family: Baby Doll;
    font-size: 1vw;
    transition: 100ms;
    user-select: none;
}

.menu-header-text p:hover {
    cursor: pointer;
    filter: brightness(1.5);
    transition: 100ms;
}

.menu-header-line {
    width: calc(100% - 3vw);
    height: 0.07vw;
    background-color: #563705;
    justify-self: center;
    margin-top: 0.2%;
}

.menu-active {
    background-color: #563705;
    text-transform: uppercase;
    color: #F2F2E2;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 2px;
}

.menu-active:hover {
    filter: brightness(1) !important; 
}

#menu-category {
    width: 90%;
    height: 100%;
    padding-top: 2%;
}

#menu-items {
    padding-left: 2%;
    margin-top: 2%;
    height: 90%;
    overflow-x: hidden;
}

#menu-items::-webkit-scrollbar {
    width: 0.3vw;
}

#menu-items::-webkit-scrollbar-thumb {
    background-color: #563705;
    border-radius: 1vw;
}

#menu-items::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

#menu-category h2 {
    text-transform: uppercase;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    to {
        opacity: 0;
    }
}

.menu-item {
    display: flex;
    height: 2.5vw;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: appear 500ms forwards;
}

.menu-item p {
    font-size: 1.2vw;
    font-family: Baby Doll;
    color: #563705;
    transition: 100ms;
}

.menu-item img {
    width: 1.3vw;
    margin-left: 1vw;
    margin-right: 1vw;
    transition: 100ms;
    user-select: none;
}

.menu-item img:hover {
    cursor: pointer;
    filter: brightness(1.5);
    transition: 100ms;
}

.menu-item div {
    display: flex;
    justify-content: end;
}

#overlay {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 34vw;
    height: 25vw;
    z-index: 1;
}

#overlay img {
    height: 40%;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.2));
}

#overlay h2 {
    margin-top: 1vw;
}

#overlay p {
    font-size: 1.2vw;
    font-family: Baby Doll;
    color: #563705;
    margin: 0;
    width: 32vw;
    overflow-wrap: break-word;
    text-align: center;
}

#overlay > :nth-child(4) {
    margin-top: 5%;
    background-color: #563705;
    color: #F2F2E2;
    font-size: 1.2vw;
}

#overlay > :nth-child(5) {
    margin-top: 2%;
    font-size: 1vw;
    background-color: #F2F2E2;
    color: #563705;
}

.hidden {
    display: none !important;
}

@keyframes appear-fading {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.show {
    display: flex !important;
    animation: appear-fading 500ms forwards;
}

.alert {
    height: 8%;
    width: 50%;
    background-image: url(/assets/images/cardboard.avif);
    border-radius: 2px;
    animation: appear-fading 500ms forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10%;
}

.alert p {
    color: #050505 !important;
}

#receipt {
    display: flex;
    flex-direction: column;
    height: 33vw;
    width: 15vw;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));
    background-image: url(/assets/images/receipt\ paper.png);
    background-size: 19vw 37vw;
    align-items: center;
    padding: 2vw;
    justify-content: space-between;
}

#receipt p {
    font-family: Helvetica, sans-serif;
    font-size: 0.9vw;
    line-height: 0;
}

.bold {
    font-weight: bold;
}

#receipt-title {
    width: 100%;
    font-style: italic;
    justify-items: center;
    user-select: none;
}

#receipt-details {
    width: 100%;
    height: 60%;
    justify-items: baseline;
    align-items: baseline;
    overflow-y: auto;
}

#receipt-orders {
    width: 100%;
    margin-bottom: 15%;
}

.receipt-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#receipt-orders .receipt-item-name p {
    margin-block-end: 1%;
}

.receipt-item-name {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-self: baseline;
}

#receipt-orders .receipt-item-name > :last-child {
    color: #636363;
}

.receipt-item-total {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-self: flex-end;
    font-style: italic;
}

#receipt-details::-webkit-scrollbar {
    width: 0.8vw;
}

#receipt-details::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 1vw;
    background-clip: content-box;
    border: 0.35vw solid transparent;
}

#receipt-details::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

#receipt-addons {
    width: 100%;
}

#receipt-addons .receipt-item-name {
    width: 100%;
}

#receipt-addons .receipt-item-name > :last-child {
    font-style: italic;
}

#receipt-total {
    width: 100%;
    font-style: italic;
    justify-items: center;
    user-select: none;
}

#receipt-total > :nth-child(3) {
    user-select: text;
    font-size: 1.2vw;
}

#receipt-subtotal {
    user-select: text;
    width: 100%;
    font-style: normal;
    text-align: end;
    margin-bottom: 15%;
}

#order-container-right {
    width: 40vw;
}

#order-container-right p {
    font-family: Baby Doll;
    font-size: 1.3vw;
}

#order-box {
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: url(/assets/images/blue\ carton.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
    padding: 5%;
}

#order-box p {
    font-size: 1.2vw;
    color: #F2F2E2;
    margin: 0;
    margin-bottom: 0.5%;
}

form {
    display: flex;
    flex-direction: column;
}

form span {
    height: auto;
}

input[type="text"] {
    margin-bottom: 5%;
    width: 98%;
    height: 7%;
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-width: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 0.1vw solid rgba(255, 255, 255, 0.1);
    border-bottom: 0.1vw solid #F2F2E2;
    color: #F2F2E2;
    font-family: Helvetica, sans-serif;
    font-size: 0.9vw;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgba(255, 255, 255, 0.05);
}

input[type="text"]:focus {
    outline: 0;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 100ms;
}

label {
    display: flex;
    position: relative;
    width: fit-content;
}

label p {
    color: #F2F2E2;
    font-family: Baby Doll;
    font-size: 0.9vw !important;
}

input[type="radio"], input[type="checkbox"] {
    width: 0.8vw;
    height: 0.8vw;
    margin: 0;
    margin-right: 0.5vw;
    z-index: 1;
    opacity: 0;
}

input[type="radio"]:hover, input[type="checkbox"]:hover, label:hover {
    cursor: pointer;
}

#form-addons, #form-payment {
    display: flex;
    margin-bottom: 1.5vw;
    width: 97%;
    justify-content: space-between;
    justify-self: end;
}

.form-addons-col, .form-payment-col {
    width: calc(100% / 3);
}

.form-addons-col {
    display: flex;
    flex-direction: column;
}

.form-addons-col label, .form-payment-col label{
    margin-top: 5%;
}

#check-out-button {
    background-color: #F2F2E2;
    color: #563705;
    margin-top: 2%;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.8vw;
    height: 0.8vw;
    background-color: #F2F2E2;
    border-radius: 0.4vw;
}

.checkmark-after {
    position: absolute;
    top: 0.1vw;
    left: 0.1vw;
    width: 0.6vw;
    height: 0.6vw;
    background-color: #2273bb;
    border-radius: 0.3vw;
    opacity: 0;
    transition: 100ms;
}

input[type="radio"]:hover + .checkmark, input[type="checkbox"]:hover + .checkmark {
    filter: brightness(0.9);
}

input[type="radio"]:active + .checkmark, input[type="checkbox"]:active + .checkmark{
    filter: brightness(0.8);
    transition: 100ms;
}

input[type="radio"]:checked ~ .checkmark-after, input[type="checkbox"]:checked ~ .checkmark-after {
    opacity: 1;
    transition: 100ms;
}

#rewards-corkboard {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0.5vw;
    width: 100%;
    gap: 0.5vw;
}

#rewards-corkboard img {
    border-radius: 5px;
    transition: 500ms;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.3));
}

#rewards-corkboard img:hover {
    filter: brightness(1.05) drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.3));
    transform: scale(1.005);
    transition: 500ms;
    cursor: pointer;
}

#rewards-container-left {
    width: 50%;
}

#rewards-container-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rewards-container-right p {
    font-family: Baby Doll;
    color: #050505;
    text-align: center;
    font-size: 1vw;
    width: 70%;
}

#rewards-container-right > :nth-child(2) {
    width: 60%;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.3));
}

.app-downloads {
    width: 60%;
    display: flex;
    gap: 4%;
    margin-top: 5%;
}

.app-downloads a{
    width: 48%;
}

.app-downloads a img {
    width: 100%;
    transition: 100ms;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
}

.app-downloads a img:hover {
    cursor: pointer;
    filter: brightness(1.1) drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    transform: scale(1.01);
    transition: 100ms;
}

#sub-rewards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5vw;
}

.sub-rewards-row {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

#main-reward {
    width: 100%;
    display: flex;
}

#main-reward img {
    width: 100%;
}

.sub-rewards-row img {
    width: calc(50% - 0.25vw);
}

.fade {
    animation: appear-fading 300ms forwards;
}

#about-us-div {
    height: auto;
    min-height: calc(100vh - 100px);
    justify-items: center;
}

#ceo-div {
    background-image: url(/assets/images/about\ us\ background.png);
    background-size: cover;
    justify-items: center;
    padding-top: calc(60px + 8vh);
}

#ceo-sub-div {
    height: 40vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

#ceo-div img {
    height: 50vw;
    margin-top: 20vw;
    user-select: none;
}

#vision-mission-div {
    width: 100%;
    background-image: url(/assets/images/main\ banner\ background.png);
    background-size: cover;
    justify-items: center;
    height: 35vw;
    align-content: center;
}

#vision-mission-div p {
    font-family: Baby Doll;
    font-size: 1vw;
    margin: 0;
    width: 50%;
    text-align: center;
    margin-top: 0.5%;
}

#vision-mission-div > :nth-child(3) {
    margin-top: 3%;
}

#mr-coffee-div {
    width: 100%;
    background-image: url(/assets/images/rewards\ background.png);
    background-size: cover;
    justify-items: center;
    height: 45vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

#ceo-sub-text {
    width: 30%;
    margin-right: 6vw;
}

#ceo-sub-text p, #mr-coffee-div p {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
    text-wrap: wrap;
    text-align: justify;
}

#mr-coffee-text {
    width: 30%;
}

#mr-coffee-div img {
    width: 25vw;
    user-select: none;
}

@keyframes darker {
    to {
        filter: brightness(0.5);
    }
}

.darker {
    animation: darker 500ms forwards;
}

.popup {
    position: absolute;
    background-image: url(/assets/images/popup\ bg.png);
    background-size: cover;
    width: 50vw;
    height: 25vw;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
    border-radius: 5px;
    left: 25vw;
    top: 25vh;
    display: flex;
}

.close {
    position: absolute;
    font-family: Baby Doll;
    font-size: 2vw;
    margin-left: 2%;
    margin-top: 1%;
    color: #0E497C;
    transition: 100ms;
    user-select: none;
}

.close:hover {
    cursor: pointer;
    filter: brightness(1.5);
    transition: 100ms;
}

.left-popup {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #0E497C;
}

.left-popup h1 {
    font-size: 3vw;
    width: 70%;
}

.left-popup h2 {
    font-size: 1.2vw;
    width: 70%;
    margin-top: 5%;
}

.right-popup {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-popup img {
    width: 60%;
}

#order-complete {
    height: auto;
    min-height: calc(82vh - 160px);
    padding-top: calc(60px + 8vh);
    padding-bottom: 10vh;
    background-image: url(/assets/images/rewards\ background.png);
    justify-items: center;
    align-content: center;
}

#order-complete-container {
    justify-items: center;
}

#order-complete-container img {
    width: 25vw;
}

#order-complete-container h2 {
    width: 60%;
    text-align: center;
    color: #0E497C;
}

#complete-button {
    margin-top: 3vw;
    background-color: #563705;
    color: #F2F2E2;
}

#subtotal-nominal {
    margin-bottom: 10%;
}

@media (max-width: 768px) {
    .popup {
        width: 80vw;
        height: 50vw;
        left: 10vw;
        top: 25vh;
    }

    .close {
        font-size: 5vw;
    }

    .left-popup h1 {
        font-size: 5vw;
        width: 60%;
    }

    .left-popup h2 {
        font-size: 3vw;
        width: 60%;
    }

    .right-popup {
        padding-right: 5%;
    }

    .right-popup img {
        width: 80%;
    }

    .right-popup .app-downloads {
        width: 80%;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    .right-popup .app-downloads a {
        width: 70%;
    }

    #order-complete h1 {
        font-size: 8vw !important;
    }

    #order-complete-container img {
        width: 60vw;
    }

    #order-complete-container h2 {
        width: 80%;
        font-size: 5vw !important;
    }

    #complete-button {
        margin-top: 20%;
        width: 40vw;
        height: 5vw;
        padding: 0;
        font-size: 4vw;
    }

    #navbar-mobile {
        display: flex;
    }

    #navbar {
        display: none;
    }

    #main-banner h1 {
        font-size: 10vw;
    }

    #main-banner h2 {
        font-size: 4vw;
    }

    #banner-logo {
        width: 20vw;
    }

    #coffee-banner {
        width: 60vw;
    }
    
    #top-sellers-banner {
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
        align-items: center;
        flex-direction: column;
    }

    .side-title-div {
        padding-bottom: 3%;
        justify-items: center;
        margin-top: 10%;
    }

    .side-title-div h1, #rewards-banner h1 {
        font-size: 8vw;
        text-align: center;
    }

    #menu-redirect {
        width: 30vw;
        height: 5vw;
        padding: 0;
        font-size: 4vw;
    }

    #best-seller-items-div {
        padding: 0;
        margin-top: 10%;
        width: 100%;
        min-height: 55vw;
    }

    #left-arrow, #right-arrow {
        font-size: 5vw;
    }

    .best-seller-image img { 
        height: 40vw;
    }
    
    .best-seller-name h3 {
        font-size: 4vw !important;
    }

    .best-seller-item:hover .best-seller-name{ 
        font-size: 1.6vw;
        margin-top: 5vh;
        padding: 5px 3vw 3px 3vw;
        transition: 500ms;
    }

    .best-seller-price h3 {
        font-size: 4vw;
    }

    .best-seller-item:hover .best-seller-price{ 
        margin-top: calc(10vh + 5vw);
        transition: 500ms;
        font-size: 1.6vw;
        transition-delay: 50ms;
        opacity: 100;
    }

    #home-corkboard {
        padding: 0.5vw;
    }

    #home-corkboard img {
        width: 80vw;
    }

    #rewards-redirect {
        width: 40vw;
        height: 5vw;
        padding: 0;
        font-size: 4vw;
    }

    #about-us-banner {
        height: auto;
        padding-top: 20%;
        padding-bottom: 20%;
        flex-direction: column;
        align-items: center;
    }

    #about-us-banner img {
        margin: 0;
        align-self: center;
    }

    #about-us-text {
        width: 50%;
        text-align: center;
        margin: 0;
        margin-top: 10%;
    }

    #about-us-text p {
        font-size: 3vw;
    }

    #about-us-text h2 {
        font-size: 5vw;
    }

    #about-us-redirect {
        width: 40vw;
        height: 5vw;
        padding: 0;
        font-size: 4vw;
        margin-top: 20%;
    }

    #overlay {
        width: 81vw;
        height: 70vw;
        align-items: center;
        text-align: center;
    }

    .alert {
        width: 70%;
    }

    #overlay p {
        width: 90%;
    }

    #overlay h2 {
        font-size: 6vw !important;
    }

    #overlay button {
        width: 40vw;
        height: 5vw;
        padding: 0;
        font-size: 4vw !important;
    }

    footer {
        height: auto;
        justify-content: space-around;
    }

    footer img {
        width: 25vw;
    }

    #footer-div {
        flex-direction: column;
        padding-top: 5vw;
        padding-bottom: 5vw;
        width: fit-content;
    }

    .footer-header {
        font-size: 2.5vw;
    }
    
    footer div p {
        font-size: 2vw;
    }

    #menu-container {
        flex-direction: column;
        align-items: center;
        width: 90vw;
    }

    #menu-header {
        height: 15%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #left-menu {
        width: 100%;
        height: 200%;
    }

    #right-menu {
        width: 90%;
        height: 150%;
        margin-top: 5vw;
    }

    #right-menu-div {
        height: 86%;
    }

    #right-menu-div h2 {
        font-size: 7vw;
    }

    #left-menu p {
        font-size: 3.8vw;
    }

    #top-menu-header, #bottom-menu-header {
        text-align: center;
    }

    #bottom-menu-header {
        width: 100%;
    }

    .menu-header-line {
        width: calc(100% - 4vw);
    }

    #menu-category h2 {
        font-size: 7vw;
        margin-top: 2vw;
    }

    #order-button {
        width: 30vw;
        height: 5vw;
        padding: 0;
        font-size: 4vw;
    }

    #order-list {
        height: 55vw;
        width: 96%;
        margin-bottom: 1vw;
        padding-top: 4%;
        padding-left: 2%;
        padding-right: 2%;
        overflow-y: auto;
    }

    .order-item p {
        font-size: 3.8vw !important;
    }

    .order-item img {
        width: 2vw !important;
    }

    #menu-div, #order-div, #rewards-div {
        height: auto;
        min-height: calc(82vh - 160px);
        padding-top: calc(60px + 5vh);
        padding-bottom: 10vh;
        background-image: url(/assets/images/rewards\ background.png);
        justify-items: center;
    }

    #menu-div > :first-child, #order-div > :first-child, #rewards-div > :first-child, #ceo-div > :first-child {
        font-size: 7vw;
    }

    .menu-item p {
        font-size: 4.5vw !important;
    }

    .menu-item {
        margin-top: 3vw;
        margin-bottom: 6vw;
    }

    .menu-item img {
        width: 6vw;
    }

    #menu-items::-webkit-scrollbar {
        width: 0.7vw;
    }

    #order-container {
        flex-direction: column;
        align-items: center;
    }

    #receipt {
        display: flex;
        flex-direction: column;
        height: 99vw;
        width: 45vw;
        filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));
        background-image: url(/assets/images/receipt\ paper.png);
        background-size: 57vw 111vw;
        align-items: center;
        padding: 6vw;
        justify-content: space-between;
    }

    #receipt p {
        font-size: 2.5vw;
    }

    #receipt-total > :nth-child(3) {
        font-size: 4vw;
    }

    #order-container-right {
        margin-top: 5vw;
        width: 80%;
        justify-items: center;
    }

    #order-container-right > :first-child {
        text-align: center;
        font-size: 5vw;
    }

    #order-box {
        width: 100%;
    }

    #order-box form div p {
        font-size: 5vw;
        margin-bottom: 5%;
        margin-top: 2%;
    }

    #order-box form div input[type="text"] {
        font-size: 4vw;
    }

    .form-addons-col label p, .form-payment-col label p {
        font-size: 4vw !important;
    }

    input[type="radio"], input[type="checkbox"] {
        width: 3vw;
        height: 3vw;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 3vw;
        height: 3vw;
        background-color: #F2F2E2;
        border-radius: 1.5vw;
    }

    .checkmark-after {
        position: absolute;
        top: 0.5vw;
        left: 0.5vw;
        width: 2vw;
        height: 2vw;
        background-color: #2273bb;
        border-radius: 1vw;
        opacity: 0;
        transition: 100ms;
    }

    #check-out-button {
        width: 100%;
        height: 5vw;
        padding: 0;
        font-size: 4vw;
        margin-top: 8%;
        margin-bottom: 3%;
    }

    #rewards-container {
        flex-direction: column;
        align-items: center;
    }

    #rewards-container-right {
        width: 70%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #rewards-container-right p {
        font-size: 5vw;
        width: 100%;
    }

    #rewards-container-right > :nth-child(2) {
        width: 60%;
    }

    #rewards-container-left {
        width: 80%;
    }

    #about-us-div p {
        font-size: 2.5vw;
    }

    #ceo-sub-div {
        margin-top: 10%;
        height: auto;
        padding-bottom: 10%;
    }

    #ceo-sub-div img {
        margin: 0;
    }

    #ceo-sub-text {
        width: 50%;
        margin-right: 6vw;
    }

    #ceo-sub-text h2, #mr-coffee-div h2 {
        font-size: 5vw !important;
    }

    #ceo-sub-text h3, #mr-coffee-div h3 {
        font-size: 4vw !important;
    }

    #vision-mission-div {
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #vision-mission-div h2 {
        font-size: 5vw;
        margin-bottom: 3%;
    }

    #vision-mission-div > :nth-child(3) {
        margin-top: 10% !important;
    }

    #mr-coffee-div {
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #mr-coffee-text {
        width: 50%;
    }
}